streamlit
langchain==0.0.350
langchain-community
langchain-ollama
langchain-text-splitters
langchain-core
langsmith
langchain-community
langchain-groq
faiss-cpu
langchain-chroma
langchain-huggingface
sentence-transformers
pypdf
